Sprint_8/Exercícios/Apache_Spark/nomes_aleatorios.txt filter=lfs diff=lfs merge=lfs -text
Sprint_8/Exercícios/Geração_massadados/nomes_aleatorios.txt filter=lfs diff=lfs merge=lfs -text
Sprint_8/Exercícios/Geracao_Massa_Dados/nomes_aleatorios.txt filter=lfs diff=lfs merge=lfs -text
